body{
	margin:0;
	padding:0;
	background: url(../images/header_bg.png) repeat-x;
}
/*去除ul的航内边距以及小圆点*/
ul{
	padding:0;
	margin:0;
}
ul li{
	list-style-type: none;
}
#header{
	width:900px;
	height: 30px;
	margin:0 auto;
}

#header .logo{
	width:100px;
	height: 30px;
	float:left;
}

#header .logo img{
	display:block;
}
#header .memeber{
	width:100px;
	height:30px;
	float: right;
	background: url(../images/arrow.png) no-repeat 65px center;
	cursor: pointer;
	/*设置一个相对点，便于子元素对齐*/
	position: relative;
}

#header ul{
	position: absolute;
	top: 30px;
	background: #F2E9EC;
	width:100px;
	height:110px;
	border:1px solid #999;
	border-top:none;
	padding:10px 0 0 0;
	/*网页加载完成时限隐藏*/
	display: none;
}
#header ul li{
	height: 25px;
	line-height: 25px;
	text-indent: 25px;
	letter-spacing: 1px;
}
#header ul li a{
	/*文本修饰可以给文本添加下划线以及上划线等内容*/
	text-decoration: none;
	display: block;
	text-decoration: none;
	color:#333;
	background:url(../images/arrow3.gif) no-repeat 5px 45%;
}

#header ul li a:hover{
	/*鼠标放上时背景发生变化*/
	background: #fc0 url(../images/arrow4.gif) no-repeat 5px 45%;
	
}

/*设置顶端登陆按钮的样式*/
#header .login{
	float:right;
	width:35px;
	height: 30px;
	line-height: 30px;
	cursor: pointer;
}